.contenedor-total {
    margin: 10px auto;
    width: 30%;
}

.contenedor {
    float: left;
}

h2 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
}

h3 {
    text-align: center;
}

.cart {
    display: flex;
    align-items: center;
    margin-top: 200px;

}

.card1 {
    padding: 30px;
    font-size: 13px;
}

.total {
    padding: 30px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}


.borrarTodo {
    padding: 50px;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;

}



.volver:hover {
    background-color: #3e8e41
}

.volver:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.foto {
    width: 50px;
    height: 50px;
}


form {
    width: 300px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(159, 241, 214);
}

form label {
    width: 72px;
    font-weight: bold;
    display: inline-block;
}

form input[type="text"],
form input[type="email"] {
    width: 180px;
    padding: 3px 10px;
    border: 1px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
}

.button2 {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.orden {
    background-color: rgb(85, 163, 137);
    border: none;
    color: white;

    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
}