.container {
    margin-top: 50px;
}

.button {
    background-color: rgb(85, 163, 137);
    border: none;
    color: #edddd4;
    padding: 5px 15px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16spx;
    border-radius: 10px;
}

.card-text {
    font-style: italic;
    font-size: 12px;
}