.topnav {
    overflow: hidden;
    background-color: #197278;
}

nav {
    top: 0;
    left: 0;
    right: 0;
    height: 80px;

}


.topnav ul {
    list-style: none;
    display: flex;
    padding: 10px;
    float: right;
    align-items: center;
}

.topnav h1 {
    display: inline-flex;
    color: #edddd4;
    float: left;
    padding-top: 20px;
    padding-left: 50px;
    font-size: 30px;
    margin: 0px;


}

.categoria-item {

    color: #edddd4;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    float: left;

}


.categoria-item:hover {
    background-color: #111;
}

.carro {
    padding: 7px 16px;
    float: left;
}