.topnav {
    overflow: hidden;
    background-color: rgb(26, 24, 24);
    text-align: center;
}

nav ul {
    list-style: none;
    display: list-item;
    padding: 25px;
}

.topnav h1 {
    color: white;
    float: left;
    padding-bottom: 30px;
    padding-top: 28px;
    padding-left: 70px;
    font-size: 30px;
    margin: 0px;
}

li {
    display: block;
    color: white;
    text-align: center;
    margin-right: 20px;
    text-decoration: none;
    float: right;
}

li:hover {
    background-color: rgb(126, 36, 138);
}