.container {
    display: flex;
    justify-content: center;
}

.countButton {
    font-size: 30px;
    color: black;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;

}

.countAmount {

    font-weight: bold;
    font-size: 30px;

}